.container{
    width: 100%;
    height: 100vh; 
    display: flex;
    text-align: center;
}

.message-container {
    display: flex;
    flex-direction: column;
    /* Altera o fluxo dos elementos para coluna */
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image-container {
    margin-bottom: 0px;
    /* Espaçamento entre a imagem e o texto */
}

.image-container img {
    max-width: 25%;
    /* Ajusta a largura da imagem para ocupar o máximo possível do container */
}

.district-container{
    display: block;
    width: 50%;
}

.map-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; /* Centralizar itens horizontalmente */
    height: 100vh;
    width: 50%;
    overflow: hidden; /* Oculta a barra de rolagem no painel esquerdo */
    position: relative;
    /* Definir a margem esquerda para 25% para centralizar inicialmente */
}
.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.message {
    font-size: 24px;
}
.date{
    margin-top: 10px;
}

.custom-button {
    display: inline-block;
    background-color: #80171b; /* Cor de fundo do botão */
    border: none;
    color: white; /* Cor do texto do botão */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer;
    border-radius: 5px; /* Borda arredondada */
    transition-duration: 0.4s;
    margin-top: 20px;
}

.custom-button:hover {
    background-color: #621215; /* Cor de fundo do botão quando hover */
}

.custom-button a {
    color: inherit; /* Garante que a cor do texto do link seja a mesma que a do botão */
    text-decoration: none; /* Remove sublinhado do link */
}

h2 {
    margin-bottom: 20px;
}

.semi-container {
    width: 50%;
    background-color: #80171b;
    overflow-y: auto; /* Adiciona barra de rolagem vertical apenas quando necessário */
    padding-top: 20px;
}


.map-svg {
    fill: #ccc;
    width: 100%;
    height: auto;
}

.district-svg {
    fill: #ccc;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    animation: increaseSize 0.5s ease-in-out forwards; /* Adiciona a animação para aumentar o tamanho */
}

@keyframes increaseSize {
    from {
        transform: scale(0.5); /* Define o tamanho inicial, por exemplo, 50% */
    }
    to {
        transform: scale(1); /* Define o tamanho final, por exemplo, 100% */
    }
}

.selected {
    fill: #80171b;
}



.district-svg path:hover {
    fill: #80171b;
    cursor:pointer;
}

.map-svg path:hover {
    fill: #80171b;
    cursor:pointer; 
}

.message-box {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-box p {
    margin-bottom: 10px;
}

.message-box button {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

svg {
    display: block; /* Garante que o SVG fique centralizado */
    margin: 0 auto; /* Centraliza o SVG horizontalmente */
  }

.search-container input {
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

/* Reset */
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 5px;
  padding-top: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

li {
  margin: 0 2rem;
}

/* Underline styles */
a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: white !important;
}

a:hover{
    cursor: pointer;
}

/* Scale from center */
a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after{
  transform: scale(1);
  font-weight: bold;  
}