.event-card {
  color: black;
  position: relative;
  display: flex;
  width: 90%;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  transition: background-color 0.3s ease; /* Adicionando uma transição suave */
}

.event-card:hover {
  background-color: rgba(255, 255, 255, 0.8) ; /* Escurecendo a cor ao passar o mouse */
  cursor: pointer;
}

.event-card:hover .photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Sobreposição escura na imagem */
}

.photo {
  position: relative; /* Garantindo que a pseudo-elemento ::before fique posicionado em relação a este elemento */
  flex: 0 0 220px;
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* Sobreposição inicialmente transparente */
}

.content {
  flex: 1;
  padding: 10px;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.info-table {
  width: 100%;
}

.info-icon {
  width: 30px;
  text-align: center;
}

.info-icon svg {
  vertical-align: middle;
}

.info-table td {
  text-align: left; /* Alinhar elementos da segunda coluna à esquerda */
}

h2, h5 {
  margin: 0;
}